#myTable {
    width: 100% !important;
    table-layout: auto;
    word-wrap: break-word;
    white-space: nowrap;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.table-scroll-wrapper {
    max-height:500px;
    overflow-y: auto;
    border: 2px solid #000000;
    padding: 0.5rem;
}




.dataTables_wrapper .custom-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}



.dataTables_wrapper .dataTables_length {
    position: absolute;
    left: 0;
}


.dataTables_wrapper .dataTables_paginate {
    margin: 0 auto;
    float: none !important;
    display: flex;
    justify-content: center;
}

.dataTables_wrapper .dataTables_info {
    text-align: center;
    float: none !important;
}








