@{
    ViewData["Title"] = "OOP DataTable";
}
<link rel="stylesheet" href="~/css/datatable.css" asp-append-version="true" />
<h1>Table (OOP Version)</h1>

<div class="custom-search-bar mb-3">
    <input id="customsearchinput" placeholder="Search" class="form-control d-inline-block" style="max-width: 200px;" />
    <select id="customsearchcolumn" class="form-select d-inline-block" style="max-width: 200px;">
        <option value="all">All</option>
        <option value="pageFriendlyName">Page Name</option>
        <option value="labelFriendlyName">Label Name</option>
        <option value="text">Text</option>
    </select>
</div>
<div class="container-fluid">
    <div class="table-scroll-wrapper">
        <table id="myTable" class="display nowrap" style="width: 100%">
            <thead><tr></tr></thead>
        </table>
    </div>


    <div class="custom-footer">
        <div class="footer-top-row">

        </div>
        <div class="dataTables_info"></div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script src="~/js/datatables.js" asp-append-version="true"></script>
}

