<h1 id="title">Try to click the button</h1>


<button id="gamebtn" class="GenerateButton" style="position: absolute">Click Me!</button>



@section Scripts {
    <script src="~/js/game.js"></script>
}